#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release \
	                     -DCMAKE_C_COMPILER=clang \
	                     -DCMAKE_CXX_COMPILER=clang++ \
	                     -DRUN_TEST=FALSE

override_dh_auto_build:
	dh_auto_build -- sxg
	dh_auto_build -- gencertchain
	dh_auto_build -- gensxg

override_dh_install:
	# Call d-shlibmove to comply with library packaging guide
	d-shlibmove --commit \
	                        --multiarch \
	                        --devunversioned \
	                        --exclude-a \
	                        --exclude-la \
	                        --movedev "debian/tmp/usr/include/*" usr/include \
	                        debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/lib*.so
	mkdir -p debian/sxg-util/usr/bin/
	cp debian/tmp/usr/bin/* debian/sxg-util/usr/bin/
	dh_install

